@import "tailwindcss";
.input {
  @apply w-full bg-black/60 border border-gray-700 rounded-lg p-3 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-cyan-400;
}
.label {
  @apply block text-sm text-gray-300 mb-1;
}
.upload-btn {
  @apply inline-block bg-black/60 border border-gray-700 px-4 py-2 rounded-lg cursor-pointer text-gray-400 hover:text-white transition;
}



.drop-shadow-glow {
  filter: drop-shadow(0 0 8px rgba(56, 189, 248, 0.7));
}
